extends layout

block content
  h1 #{pageData.title}
  ul.hackathon-list
    each val, index in pageData.body['results']['collection1']
      li.hackathon-listing
        a(href="#{val.event_name.href}", target="_blank")
          img(src="#{val.event_image.src}")
        form(name="hack", action="/hack")
          input(type="hidden", name="hackathon", value="#{val.event_name.text}")
          input.btn.btn-default(type="submit", value="Explore "+"#{val.event_name.text}")
          ul
            li #{val.event_date.text}
            li #{val.event_location.text}
