extends layout

block content
  title= HackerChat
  h1= HackerChat
  h1 #{pageData.title}
  p #{pageData.userName}
  form(name="myHackathons", action="/myHackathons")
    input(type="submit", value="My Hackathons")
  ul
    each val, index in pageData.body['results']['collection1']
      img(src="#{val.event_image.src}")
      li
        a(href="#{val.event_name.href}") #{val.event_name.text}
        ul
          li #{val.event_date.text}
          li #{val.event_location.text}
p #{pageData.body['results']['collection1']}
  p end
