extends layout
img.avatar(src='#{pageData.pic}')

block content
  h1 HackerChat
  h1 #{pageData.title}: #{pageData.groups.phone_number}
  <br>
  h2 Hackers you might be interested in:
  ul
    each val in pageData.bestMatch
      p #{val['name']} | Match: #{val['cash']}%
  h2 Currently in Chatroom: 
    a(href="#{pageData.groups.share_url}" target="_blank") (start)
  ul
    each val, index in pageData.groups.members
      li.hackathon-listing #{val.nickname}
